h1 {
  /* background: red; */
  color: green;
}

/*
@media (min-width: 500px) and (max-width: 600px) {
  body {
    background: #ccc;
  }

  .desc:after {
    content:" In fact, it's between 500px and 600px wide.";
  }
}
*/


@media (min-width: 500px) and (max-width: 1024px) {
  div.tagbar,div.workspace_wrap,div.mailRender{
    width: 90vw !important;
    min-width: 180px;
    max-width: none !important;
  }

  div.workspace_wrap,div.mailRender{
    margin-top: 10px;
    margin-left: 10px
  }

  div.tagbar table, div.mailRender table{
    width: 95% !important;
  }

  div.tagbar div.tags{
    width: 99%;
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  div.tagbar,div.workspace_wrap,div.mailRender{
    width: 95% !important;
    min-width: 180px;
    max-width: none !important;
  }

  div.workspace_wrap,div.mailRender{
    margin-top: 10px;
    margin-left: 0px !important;
  }
  div.mail_app{
    padding-left: 1px !important;
  }
  div.tagbar table, div.mailRender table{
    width: 95% !important;
  }
  div.tagbar{
    margin-left: 1px !important;
  }
  div.tagbar div.tags{
    width: 99%;
  }
}
