h1 {
  /* background: red; */
  color: green;
}

/* add new button style */
.uk-button-warning {
  background-color: #faa732;
  color: #ffffff;
}
.uk-button-warning:hover,
.uk-button-warning:focus {
  background-color: #ffb43f;
  color: #ffffff;
}
.uk-button-warning:active,
.uk-button-warning.uk-active {
  background-color: #e28327;
  color: #ffffff;
}
.uk-button-warning {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.uk-button-warning:hover,
.uk-button-warning:focus {
  border-color: rgba(0, 0, 0, 0.21);
}

/*
@media (min-width: 500px) and (max-width: 600px) {
  body {
    background: #ccc;
  }

  .desc:after {
    content:" In fact, it's between 500px and 600px wide.";
  }
}
*/


@media (min-width: 500px) and (max-width: 1024px) {
  /*
  div.tagbar,div.workspace_wrap,div.mailRender{
    width: 90vw !important;
    min-width: 180px;
    max-width: none !important;
  }

  div.workspace_wrap,div.mailRender{
    margin-top: 10px;
    margin-left: 10px
  }

  div.tagbar table, div.mailRender table{
    width: 95% !important;
  }

  div.tagbar div.tags{
    width: 99%;
  }*/
}

@media (min-width: 10px) and (max-width: 500px) {
  /*
  div.tagbar,div.workspace_wrap,div.mailRender{
    width: 95% !important;
    min-width: 180px;
    max-width: none !important;
  }

  div.workspace_wrap,div.mailRender{
    margin-top: 10px;
    margin-left: 0px !important;
  }
  div.mail_app{
    padding-left: 1px !important;
  }
  div.tagbar table, div.mailRender table{
    width: 95% !important;
  }
  div.tagbar{
    margin-left: 1px !important;
  }
  div.tagbar div.tags{
    width: 99%;
  }*/
}

@media (max-width: 959px) {
  div.mailRender.uk-panel, div.tagbar.uk-panel {
    height: 45vh;
  }
  div.workspace_wrap.uk-panel div.workspace {
    height: 30vh;
  }
}
